.search {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.searchInputs {
  margin-top: 4em;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 380px;
  height: 200px;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem {
  background: white;
  border: none;
  display: flex;
  justify-content: space-between;
}

.dataItem:hover {
  cursor: pointer;
}

.dataItem p {
  margin-left: 10px;
}

.dataItem img {
  width: 35px;
  height: auto;
}

.dataItem:hover {
  background-color: lightgray;
}

#clearBtn {
  cursor: pointer;
}
