body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  overflow-x: hidden;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 2em;
  margin-top: 7em;
  margin-right: 0;
}

html {
  scroll-behavior: smooth;
}

.upButton {
  border-radius: 50%;
  padding: 0.5em;
}

.bottomFunctions {
  position: fixed;
  bottom: 0;
  right: 0;
}